[database]
dbname = jitenshea
user = dag
host = localhost
port = 5432
# you can write it if necessary
password

[lyon]
schema = lyon
table = timeserie

[bordeaux]
schema = bordeaux
table = timeserie
# API Key
# key = QHUHHRI7HD
key = 3ZNLOXJS4R
