{% extends 'layout.html' %}

{% block content %}

<h2>Available Cities</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"
        aria-current="page"><a href="{{url_for('index')}}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cities</li>
  </ol>
</nav>

<div class="container">
    <div class="row widgets">
        {% for city in cities %}
            <div class="city">
                <div class="panel panel-default">
                    <div class="panel-header">
                        <h3 class="panel-title"> {{ city.title }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="img">
                            <img src="{{ url_for('static', filename=city.img) }}">
                            <div class="desc">
                                <p>
                                    {{ city.desc }}
                                    <a href={{city.opendata_url}}>Open Data</a>.
                                </p>
                            </div>
                        </div>
                        <div class="stats">
                            <p>
                                {{ city.stats }}
                            </p>
                        </div>
                    </div>
                    <div class="city-button">
                        <a class="btn btn-primary btn-lg" href="{{ url_for('city_view', city=city.id) }}" role="button">See {{ city.title }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
