{% extends 'layout.html' %}

{% block content %}

<h2>Bicycle-sharing data analysis</h2>

<p>Get and visualize some bicycle-sharing Open Data.</p>

<p>See the <a href="https://github.com/garaud/jitenshea">project page on Github</a>.</p>

<h3>Summary</h3>

<p>Available for the following cities
  <ul>
    <li><a href="{{ url_for('city_view', city='bordeaux') }}">Bordeaux</a> (France)</li>
    <li><a href="{{ url_for('city_view', city='lyon') }}">Lyon</a> (France)</li>
  </ul>
</p>

<h3>Access</h3>

<p>
  Examples:

  <ul>
    <li>Get some information from a city: <tt>URL/api/bordeaux/station</tt></li>
    <li>Retrieve details for a given bicycle-sharing station: <tt>URL/api/lyon/station/1009</tt></li>
  </ul>

  You also can read and try <a href="{{ url_for('swagger_ui') }}">the REST API</a> generated
  by <a href="https://flask-restplus.readthedocs.org/en/stable/">Flask-RESTPlus</a>
  and <a href="http://swagger.io/">Swagger</a>.
</p>


{% endblock %}
