{% extends 'layout.html' %}

{% block content %}

<h2>Bicyle-sharing data analysis</h2>

<h3>Summary</h3>

<p>Available for the following cities
  <ul>
    <li>Bordeaux (France)</li>
    <li>Lyon (France)</li>
  </ul>
</p>

<h3>Access</h3>

<p>
  Examples:

  <ul>
    <li>Get some information from a city: <tt>URL/bordeaux/station</tt></li>
    <li>Retrieve details for a given bicycle-sharing station: <tt>URL/lyon/station/1009</tt></li>
  </ul>

  You also can read and try <a href="/doc/">the REST API</a> generated
  by <a href="https://flask-restplus.readthedocs.org/en/stable/">Flask-RESTPlus</a>
  and <a href="http://swagger.io/">Swagger</a>.
</p>


{% endblock %}
