<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>

<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/highcharts/highstock.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/datatables-package/datatables/datatables.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/datatables-package/datatables/DataTables-1.10.16/js/jquery.dataTables.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/@turf/turf/turf.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/d3-color/dist/d3-color.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/d3-interpolate/dist/d3-interpolate.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='node_modules/d3-scale-chromatic/dist/d3-scale-chromatic.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='settings.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app.js') }}" type="text/javascript"></script>
