<html>

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Bicycle-sharing data analysis">
    <meta name="keywords" content="bicycle,sharing,data,geolocalization,python,postgresql,GIS">
    <meta name="author" content="Oslandia">
    {% include 'jitenshea-css.html' %}

    <title>Jitenshea: bicycle-sharing data</title>
  </head>

  <body class="{{ body_class }}">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>

  {% include 'jitenshea-js.html' %}

  {% block appjs %}
  {% endblock %}

</html>
