{% extends 'layout.html' %}

{% block content %}

<h3>{{city|capitalize}} Station #{{station_id}}</h3>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="{{url_for('index')}}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">
      <a href="{{url_for('city_view', city=city)}}">{{city|capitalize}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Station {{station_id}}</li>
  </ol>
</nav>


<div class="container" id="stationSummary" data-city="{{city}}"
     data-station-id="{{station_id}}">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 id="titlePanel"></h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item" id="id"><b>ID</b>: </li>
            <li class="list-group-item" id="name"><b>Name</b>: </li>
            <li class="list-group-item" id="nbBikes"><b>Bikes</b>: </li>
            <li class="list-group-item" id="address"><b>Address</b>: </li>
            <li class="list-group-item" id="city"><b>City</b>: </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8" id="stationMap" data-city="{{city}}" style="height: 280px;">
      </div>
    </div>
  </div>

  <h2>Profiles</h2>

  <p>Station profiles: transactions mean for each day of the week (resp. hour of
  the day) for a period of 30 days.</p>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Hourly</h3>
        <div id="stationProfileDay" data-city="{{city}}" data-station-id="{{station_id}}"
             style="width: 100%; height:300px;">
        </div>
      </div>

      <div class="col-md-6">

        <h3>Daily</h3>
        <div id="stationProfileWeek" data-city="{{city}}" data-station-id="{{station_id}}"
             style="width: 100%; height:300px;">
        </div>
      </div>
    </div>
  </div>

  <h2>Predictions</h2>

  <div id="stationPredictions" data-city="{{city}}" data-station-id="{{station_id}}"
       style="width: 100%; height:400px;">
  </div>

  <h2>Timeseries</h2>

  <div id="stationTimeseries" data-city="{{city}}" data-station-id="{{station_id}}"
       style="width: 100%; height:400px;">
  </div>

  <h2>Daily Transactions</h2>

  <p>Number of transactions these previous days.</p>

  <div id="stationDailyTransactions" data-city="{{city}}" data-station-id="{{station_id}}"
       style="width: 100%; height:400px;">
  </div>

</div>


</div>




{% endblock %}


{% block appjs %}
<script src="{{ url_for('static', filename='station.js') }}" type="text/javascript"></script>
{% endblock %}
