/* Jitenshea app CSS */

html, body {
    margin: 0;
    padding: 0;
}

body.home {
    background: url(img/bg-front.jpg);
    color: #fff;
}

.jt-header {
    position: relative;
    overflow: hidden;
    height: 150px;
    padding-top: 30px;
}
.jt-header img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
    filter: blur(1px);
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h3 svg {
    margin-right: 10px;
    padding-top: 5px;
}

.city {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

.city::after {
  content: "";
  background: url(lyon-city.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.widgets {
    margin-top: 20px;
}

.home-widget {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.5s ease;
}

.home-widget:hover {
    background: rgba(100, 100, 100, 0.6);
}

/* .jt-citylist-header { */
/*     position: relative; */
/*     overflow: hidden; */
/*     height: 300px; */
/*     color: black; */
/*     padding: 30px; */
/* } */

/* .jt-citylist-header img { */
/*     position: absolute; */
/*     left: 0; */
/*     top: 0; */
/*     width: 100%; */
/*     height: auto; */
/*     opacity: 0.5; */
/* } */


/* oslandia color rgb(58, 116, 172); */

