/* Jitenshea app CSS */

html, body {
    margin: 0;
    padding: 0;
}

body.home {
    color: #fff;
}

a {
    color: #3a74ac;
}

.btn-primary {
    color: #fff;
    background-color: #3a74ac;
    border-color: #3a74ac;
}

.centered {
    text-align: center;
    margin-bottom: 0;
}

.jt-header {
    background: url(img/bg-front.jpg);
    position: relative;
    overflow: hidden;
    height: 300px;
    padding-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 14px rgba(100, 100, 100, 0.2);
}

.jt-header h1 {
    margin-left: 700px;
    margin-top: 100px;
    color: #fff;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h3 svg {
    margin-right: 10px;
    padding-top: 5px;
}

.city {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

.city::after {
  content: "";
  background: url(lyon-city.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.widgets {
    margin-top: 20px;
}

.home-widget {
    margin-right: auto;
    margin-left: auto;
    background: rgba(200, 200, 200, 0.2);
    border-radius: 5px;
    transition: background-color 0.5s ease;
    padding-bottom: 10px;
}

.home-widget .panel-header {
    padding: 5px;
}

.home-widget .panel-body {
    padding: 10px;
    background: rgba(200, 200, 200, 0.4);
    border-radius: 5px;
}

.home-widget .panel-body:hover {
    background: #ded7d1;
}

/* .jt-citylist-header { */
/*     position: relative; */
/*     overflow: hidden; */
/*     height: 300px; */
/*     color: black; */
/*     padding: 30px; */
/* } */

/* .jt-citylist-header img { */
/*     position: absolute; */
/*     left: 0; */
/*     top: 0; */
/*     width: 100%; */
/*     height: auto; */
/*     opacity: 0.5; */
/* } */


/* oslandia color rgb(58, 116, 172); */

